<svg id="bayesian_network"></svg>
<div id="node_details" class="hidden card">
    <span class="details_row">
        <small>What-IF-Fall:</small><small id="node_detail_case">Kriterium:</small>
    </span>
    <span class="details_row">
        <small>Kriterium:</small><small id="node_detail_name">Kriterium:</small>
    </span>
    <span class="details_row">
        <small>Kategorie:</small><small id="node_detail_category">Kriterium:</small>
    </span>
    <span class="details_row">
        <small>Wahrscheinlichkeit:</small><small id="node_detail_prob">Kriterium:</small>
    </span>    
</div>

<script>var network = {{ network | tojson }}</script>
